{% extends 'base.html' %}
{% load static %}
{% block extratitle %}Acceso{% endblock extratitle %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light">
        <h2 style="color: white">Inicio de Sesión</h2>
    </nav>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="text-dark">Usuario:</label><br>
            {{ form.username }}
        </div>
        <br>
        <div class="form-group">
            <label for="username" class="text-dark">Clave:</label><br>
            {{ form.password }}
        </div>
        <br>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-primary btn-md" value="Ingresar">
            <input type="hidden" name="next" value="/pair_comparison/ann/instructions_recording" />

        </div>

    </form>
{% endblock content %}
