{% extends 'base.html' %}
{% load static %}
{% load forms_tags %}
{% block extratitle %}Instrucciones{% endblock extratitle %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light">
        <h2 class="nav-title">Instrucciones / definiciones / Anotacion de personalidad</h2>
        <ul class="navbar-nav ml-auto">
            <button id="logout" class="btn btn-danger btn-md" type="button" 
                    onclick=location.href="{% url 'logout' %}">Cerrar Sesión
            </button>
        </ul>
    </nav>
    <br> 

    <div id="instructions">
            <!--https://core.ac.uk/download/pdf/61459114.pdf-->
            <h2> Definiciones </h2>
            <p> 
                La personalidad se define como “diferencias individuales en patrones característicos de pensamiento, comportamiento y sentimiento” 
                (American Psychological Association). En la historia de la psicología, se ha intentado identificar, describir y clasificar dichos patrones,
                de tal manera de poder describir sistemáticamente la personalidad de un individuo. En particular, en los últimos años, en el campo de la psicología
                computacional, se ha adoptado el modelo de los Cinco Factores (MCF) o de los Cinco Grandes, el cual clasifica la personalidad en cinco dimensiones, 
                teóricamente independientes. Estas son: Neuroticismo, Extraversión, Apertura a la Experiencia, Amabilidad y Conciencia.
</b>
            </p>
            <br>
                <b>Apertura a la experiencia:</b> Este factor se refiere a la disposición de una persona para experimentar nuevas ideas, emociones y actividades.
                 Las personas con alta apertura a la experiencia suelen ser curiosas, imaginativas y abiertas al cambio.
            
            <br><br>
                <b>Conciencia:</b> Este factor se relaciona con la organización, el autocontrol y la capacidad de establecer metas y seguirlas de manera diligente. 
                Las personas que presentan una alta conciencia suelen ser confiables, ordenadas y comprometidas. 
            <br><br>
                <b>Extroversión:</b> Este factor se refiere al grado en que una persona busca la compañía de otros, disfruta de situaciones sociales y tiende a ser 
                locuaz y enérgica . Las personas con alta extraversión suelen ser sociables, asertivas, independientes y comunicativas.
            <br><br>
                <b>Amabilidad:</b> También conocido como "afabilidad", este factor se refiere a la disposición de una persona para ser considerada, compasiva y cooperativa 
                con los demás. Las personas altas en amabilidad suelen ser cálidas, empáticas, amigables, altruistas y afectivas.

            <br><br>
                <b>Neuroticismo:</b> Este factor se relaciona con la estabilidad emocional y la tendencia a experimentar emociones negativas como la ansiedad, la depresión 
                y el estrés. Las personas con alto neuroticismo pueden ser propensas a la preocupación y la inestabilidad emocional.

            <br><br>
            
            <h2> Instrucciones </h2>
            <p>
                A continuación, escucharás pares de audios, donde distintas personas estarán leyendo una historia breve o contando cuál es su sándwich favorito. Para cada 
                par que se presente, tendrás que escuchar atentamente cada uno de los audios, y elegir cuál de ellos presenta un rasgo de personalidad mayor al otro, para cada 
                uno de los cinco factores de personalidad. Podés escuchar los audios las veces que consideres necesarias. Además, podés acceder a la definición de cada factor 
                de personalidad a través del símbolo de ayuda.
            </p>
            <!--
            <div id="teaming_scheme" class="img-fluid text-center">
                <figure>
                    <img src="{% static 'image/gamesuba-examples.gif' %}"/>
                </figure>
            </div>
            -->

    </div>
    
    <br>
    <div class="form-group text-center">
        <input type="button" name="submit" class="btn btn-primary btn-lg" onclick=location.href="{% url 'pair_comparison:form' %}" value="Continuar">
    </div>

{% endblock content %}
