{% extends 'base.html' %}
{% load static %}
{% load forms_tags %}
{% block extratitle %}Instrucciones{% endblock extratitle %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light">
        <h2 class="nav-title">Instrucciones / definiciones / Anotacion de personalidad</h2>
        <ul class="navbar-nav ml-auto">
            <button id="logout" class="btn btn-danger btn-md" type="button" 
                    onclick=location.href="{% url 'logout' %}">Cerrar Sesión
            </button>
        </ul>
    </nav>
    <br> 

    <div id="instructions">
            <!--https://core.ac.uk/download/pdf/61459114.pdf-->
            <h2> Definiciones </h2>
            <p> 
                En la historia de la psicología, vemos que ha habido variedad de intentos por clasificar los rasgos de personalidad, 
                tratando de encontrar y definir dimensiones básicas y taxonomías que permitan ordenar la enorme cantidad de 
                atributos que describen las diferencias individuales. Entre estos intentos, encontramos uno en concreto que parece haber
                obtenido un consenso elevado dentro de la comunidad científica y que ha ido adquiriendo
                cada vez más popularidad; hablamos del Modelo de los Cinco Factores (MCF) o de los Cinco
                Grandes, el cual postula la existencia de cinco dimensiones independientes de personalidad que son: <b>Neuroticismo, Extraversión, Apertura a la
                Experiencia, Amabilidad y Responsabilidad</b>.
            </p>
            <br>
                <b>Apertura a la experiencia:</b> Este factor se refiere a la disposición de una persona para experimentar nuevas ideas, 
                emociones y actividades. Las personas con alta apertura a la experiencia suelen ser curiosas, imaginativas y abiertas al cambio.
            
            <br><br>
                <b>Responsabilidad:</b> También conocido como "conciencia", este factor se relaciona con la organización, el autocontrol y la capacidad 
                de establecer metas y seguirlas de manera diligente. Las personas altas en responsabilidad suelen ser confiables, ordenadas y comprometidas.
            <br><br>
                <b>Extraversión:</b> Este factor se refiere al grado en que una persona busca la compañía de otros, disfruta de situaciones sociales y tiende 
                a ser enérgica y extrovertida. Las personas con alta extraversión suelen ser sociables, asertivas y llenas de energía.
            <br><br>
                <b>Amabilidad:</b> También conocido como "afabilidad", este factor se refiere a la disposición de una persona para ser considerada, 
                compasiva y cooperativa con los demás. Las personas altas en amabilidad suelen ser cálidas, empáticas y amigables.
            <br><br>
                <b>Neuroticismo:</b> Este factor se relaciona con la estabilidad emocional y la tendencia a experimentar emociones negativas como la ansiedad, 
                la depresión y el estrés. Las personas con alto neuroticismo pueden ser propensas a la preocupación y la inestabilidad emocional.
            <br><br>
            
            <h2> Instrucciones </h2>
            <p>
                A continuación, vas a escuchar pares de audios donde personas leen una historia breve o comentan cuál es su sándwich favorito. 
                Tenés que escuchar ambos audios y elegir cuál de los dos tiene un grado mayor en cada uno de los cinco factores de personalidad. 
                Podés escuchar los audios las veces que consideres necesarias. Además, podés acceder a la definición de cada factor de personalidad 
                a través del símbolo de ayuda. 
            </p>
            <!--
            <div id="teaming_scheme" class="img-fluid text-center">
                <figure>
                    <img src="{% static 'image/gamesuba-examples.gif' %}"/>
                </figure>
            </div>
            -->

    </div>
    
    <br>
    <div class="form-group text-center">
        <input type="button" name="submit" class="btn btn-primary btn-lg" onclick=location.href="{% url 'pair_comparison:form' %}" value="Continuar">
    </div>

{% endblock content %}
