{% extends 'base.html' %}
{% load static %}
{% load forms_tags %}
{% block extratitle %}Instrucciones{% endblock extratitle %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light">
        <h2 class="nav-title">Condiciones</h2>
        <ul class="navbar-nav ml-auto">
            <button id="logout" class="btn btn-danger btn-md" type="button" 
                    onclick=location.href="{% url 'logout' %}">Cerrar Sesión
            </button>
        </ul>
    </nav>
    <br> 

    <div id="instructions">
            <!--https://core.ac.uk/download/pdf/61459114.pdf-->
            
            <h2> Instrucciones antes de empezar </h2>
            <p>
                <br>
                Es obligatorio que cumplas lo siguiente para poder participar de las anotaciones:
                <br>
                <br>
                1- <b>Debés utilizar auriculares. Es importante que funcionen correctamente.</b> 
                <br> 
                2- Debés estar en un ambiente silencioso y sin distracciones, durante todo el tiempo que participes de las anotaciones.
                <br>
                3- Desconectá o silenciá dispositivos que puedan desconcentrarte durante las anotaciones.
                <br> 
                4- Ajustá el volumen de tu dispositivo, utilizando el siguiente audio de referencia. Para ello, buscá un nivel de escucha que te resulte cómodo. <b>Este no debe ser modificado durante todo el proceso de anotaciones.</b>  
               <br>
                                
                <div id="player">
                    <audio id="bgAudio" controls controlslist="nodownload" preload="auto">
                        <source src="{% static 'audio/referencia.wav' %}"/>
                        Este browser no es capaz de reproducir el audio de prueba
                    </audio>
                    <script>
                        var audio = document.getElementById("bgAudio");
                        audio.volume = 1.0;
                    </script>
                </div>
                
            </p>
            <!--
            <div id="teaming_scheme" class="img-fluid text-center">
                <figure>
                    <img src="{% static 'image/gamesuba-examples.gif' %}"/>
                </figure>
            </div>
            -->

    </div>
    
    <br>
    <div class="form-group text-center">
        <a href="instructions" class="btn btn-primary">Siguiente</a>
    </div>


{% endblock content %}
